{% extends 'base.html' %}

{% block titulo %}
    Produtos
{% endblock %}

{% block conteudo %}
    <div class="row" style="margin-top: 20px; margin-left: 20px;">
        <div class="col-8">
            <h2 style="text-align: center;">Produtos Disponíveis</h2>
            <p style="text-align: center;">Clique em comprar o item caso tenha interesse</p>
                <hr>
                <table class="table table-hover table-dark table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cód Barra</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itens %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.nome}}</td>
                            <td>{{item.cod_barra}}</td>
                            <td>{{item.preco}}</td>
                            <td>
                                <button class="btn btn-outline btn-info">Mais informações</button>
                                <button class="btn btn-outline btn-success">Comprar esse produto</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="col-4">
            <h2>Produtos Adquiridos</h2>
            <p>Clique em devolver o item caso tenha interesse</p>
            <hr>
        </div>
    </div>
{% endblock %}