{% extends "base.html" %}

{% block titulo %}
  Produtos
  {% endblock %}

  {% block conteudo %}

  <h1 >Produtos</h1>
      <hr>
      <table class="table  table -dark table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Cód Barra</th>
                <th scope="col">Preço</th>
            </tr>
        </thead>
        <tbody>
          {% for item in itens %}
            <tr>
                <td >{{item.id}}</td>
                <td >{{item.nome}}</td>
                <td >{{item.cod_barras}}</td>
                <td >{{item.preço}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
  {% endblock %}